@charset "utf-8";
/* CSS Document 
 * Projet soutenance Dollyn
 */
@font-face {
    font-family: 'museo_sans_cond500';
    src: url('fonts/museosanscnd-500-webfont_1-webfont.eot');
    src: url('fonts/museosanscnd-500-webfont_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosanscnd-500-webfont_1-webfont.woff') format('woff'),
         url('fonts/museosanscnd-500-webfont_1-webfont.ttf') format('truetype'),
         url('fonts/museosanscnd-500-webfont_1-webfont.svg#museo_sans_cond500') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'SegoeScriptRegular';
    src: url('fonts/segeo-script-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'SegoeScriptRegular';
    src: url(//:) format('no404'), 
	url('fonts/segeo-script-webfont.woff') format('woff'), 
	url('fonts/segeo-script-webfont.ttf') format('truetype'), 
	url('fonts/segeo-script-webfont.svgz#SegoeScriptRegular') format('svg'), 
	url('fonts/segeo-script-webfont.svg#SegoeScriptRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	outline:none 0;
}
a:hover{
	color:#ff5223;
}
img{
	border:none;
}
body{
	background:#f0f0f0;
	font:12px Arial, Helvetica, sans-serif;
	position:relative;
}
#container{
	width:960px;
	margin:auto;
}
#header{
	height:160px;
	position:relative;
	z-index:111;
}
#header .logo{
	position:absolute;
	width:437px;
	height:72px;
	display:block;
	left:0; 
	top:45px;
}
#header .userLink{
	position:absolute;
	right:0;
	top:0;
	width:300px;
	height:50px;
	background:#ffffff;
	-moz-box-shadow: 0px 0px 5px 0px #ccc;
	-webkit-box-shadow: 0px 0px 5px 0px #ccc;
	-o-box-shadow: 0px 0px 5px 0px #ccc;
	box-shadow: 0px 0px 5px 0px #ccc;
	z-index:999999;
}
#header .userLink ul li{
	font:14px "museo_sans_cond500";
	display:inline-block;
	*zoom:1;
	*display:inline;
}
#header .userLink a{
	color:#535252;
	display:block;
	height:50px;
	line-height:50px;
	padding-left:50px;
}
#header .userLink a:hover{
	color:#ff5223;
}
#header .userLink a.login{
	background:url(../images/users.png) 20px 13px no-repeat
}
#header .userLink a.register{
	background:url(../images/pencil.png) 18px 13px no-repeat
}
#nav{
	height:65px;
	background:#000000;
	position:relative;
}
.home{
	height:65px;
	width:65px;
	position:relative;
	float:left;
}
.homeIco{
	height:75px;
	width:65px;
	position:absolute;
	bottom:0;
	left:0;
	background: #ff5223 url(../images/home.png) no-repeat 23px 32px;
	display:block;
}
.homeIco:hover{
	background: #80b533 url(../images/home.png) no-repeat 23px 32px;
}

.rightT{
	width:13px;
	height:10px;
	background:url(../images/rightT.png);
	position:absolute;
	right:-12px;
	top:-10px;
}
#nav ul{
	float:left;
	margin-left:10px;
	position:relative;
}
#nav ul li{
	display:inline-block;
	zoom:1;
	*display:inline;
	position:relative;
}
#nav ul li a{
	display:block;
	padding:0 30px;
	height:65px;
	line-height:65px;
	font:16px/65px "museo_sans_cond500";
	background:url(../images/bullet.png) left 30px no-repeat;
	color:#ffffff;
}
#nav ul li a.first{
	background:none;
}
#nav ul li a:hover{
	color:#ff5223;
}
/* hide the second level menu */
#nav .menu ul {
	display: none;
	margin: 0;
	padding: 0;
	width:170px;
	text-align:left;
	position: absolute;
	top: 65px;
	left: 0px;
	background: #000;
	border-bottom:solid 3px #ff5223;
}
/* display second level menu on hover */
#nav .menu li:hover > ul {
	display: block;
	z-index:999999;
}
#nav .menu ul li {
	display: block;
	float: none;
	background: none;
	margin: 0;
	padding: 0;
	border-top:solid 1px #ffffff;
}
#nav .menu ul li a {
	font-size: 12px;
	font-weight: normal;
	display: block;
	color: #eee;
	background: #000;
	height:30px;
	line-height:30px;
}
#nav .menu ul li a:hover, #nav .menu ul li:hover > a {
	background: #111111;
	color: #797979;
}
.slider_container{
	padding:20px 0;
	z-index:0;
}
#slider{
	width:645px;
	padding:10px;
	height:355px;
	float:left;
	background:#ffffff;
	-moz-box-shadow: 0px 0px 5px 0px #ccc;
	-webkit-box-shadow: 0px 0px 5px 0px #ccc;
	-o-box-shadow: 0px 0px 5px 0px #ccc;
	box-shadow: 0px 0px 5px 0px #ccc;
	position:relative;
	z-index:0;
	*z-index:-1;
}
#slider .shadow{
	height:10px;
	width:665px;
	background:url(../images/shadow.png) top center no-repeat;
	position:absolute;
	bottom:-10px;
	left:0;
}
.sliderSide{
	width:287px; 
	float:right;
}
.slide{
	position:relative;
	height:355px;
}
.caption{
	position:absolute;
	bottom:0;
	left:0;
	padding:20px;
	font:12px Arial, Helvetica, sans-serif;
	color:#ffffff;
	background:url(../images/transparent.png);
}
.deposerAnnonce{
	height:70px;
	background:#ff5223;
	line-height:70px;
	width:100%;
	display:block;
	background:#ff5223 url(../images/pencil.png) 20px 25px no-repeat;
	margin-bottom:20px;
	font:17px/75px "museo_sans_cond500";
	text-transform:uppercase;
	color:#ffffff;
	text-indent:60px;
}
.deposerAnnonce:hover{
	background-color:#80b533;
	color:#ffffff;
}
.pub{
	background:#ffffff
}
/*annonce bloc*/

.featured{
	margin:40px 0;
}
.featuredTitle{
	text-align:center;
	margin-top:20px;
	color:#ff5223;
	font:30px "SegoeScriptRegular";
	text-shadow: 1px 2px 3px #ffffff;
}
.bloc{
	width:205px;
	height:300px;
	background:#ffffff;
	float:left;
	-moz-box-shadow: 0px 0px 5px 0px #ccc;
	-webkit-box-shadow: 0px 0px 5px 0px #ccc;
	-o-box-shadow: 0px 0px 5px 0px #ccc;
	box-shadow: 0px 0px 5px 0px #ccc;
	margin:0 10px;
	padding:10px;
}
.bloc.first{
	margin-left:0;
}
.bloc.last{
	margin-right:0;
}
.bloc{
	display:block;
	position:relative;
}
.bloc img{
	width:100%;
}
.bloc h3{
	font:16px/20px "museo_sans_cond500";
	padding: 10px 0 0;
	height:45px; 
	text-align:center;
	display:block;
}
.bloc p{
	font:12px/16px Arial, Helvetica, sans-serif;
	text-align:center;
	color:#686868;
}
.bloc .date
{
	position:absolute;
	right:10px;
	bottom:18px;
	font:12px Arial, Helvetica, sans-serif
}
.bloc .link{
	width:35px;
	height:35px;
	background:url(../images/contact.png);
	display:block;
	position:absolute;
	left:10px;
	bottom:10px;
}
.bloc .shadow{
	height:12px;
	width:225px;
	background:url(../images/shadow2.png) center;
	position:absolute;
	bottom:-12px;
	left:0;
}
.bloc .label{
	width:81px;
	height:76px;
	position:absolute;
	right:-6px;
	top:-6px;
}
.pub2{
	width:728px;
	margin:0 auto 40px auto;
}
.category .bloc{
	margin-bottom:20px;
}
.categoryDesc{
	padding:20px;
	background:#ffffff;
	margin:20px 0;
	-moz-box-shadow: 0px 0px 5px 0px #ccc;
	-webkit-box-shadow: 0px 0px 5px 0px #ccc;
	-o-box-shadow: 0px 0px 5px 0px #ccc;
	box-shadow: 0px 0px 5px 0px #ccc;
	position:relative;
}
.imgCateg{
	width:200px;
	height:200px;
	float:left;
	background:#eeeeee;
}
.textCateg{
	font:12px Arial, Helvetica, sans-serif;
	width:700px; 
	float:right;
	color:#555555
}
.textCateg h3{
	font:17px "museo_sans_cond500";
	display:block;
	padding:0 0 20px 0;
	color:#FF5223;
}
.textCateg p{
	padding:0 0 10px;
	line-height:18px;
}
.shadowCateg{
	position:absolute;
	bottom:-16px;
	height:16px;
	background:url(../images/shadow3.png) center no-repeat;
	left:0;
	width:100%;
}
/*pagination*/
.pagination{
	float:right;
	margin:0 0 20px;
}
.pagination ul li
{
	display:inline-block;
}
.pagination ul li a{
	display: block;
	border:solid 1px #fff;
	background:#ccc;
	padding:5px 10px;
	font:14px "museo_sans_cond500";
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#222;
}
.pagination ul li span{
	display: block;
	background:#000;
	padding:5px 10px;
	font:14px "museo_sans_cond500";
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#fff;
}
/*formulaire*/
.form,.annonceform{
	margin:20px 0;
}
#connexion{
	float:left;
	background:#ffffff;
	padding:20px;
	width:420px;
	-moz-box-shadow: 0px 0px 5px 0px #ccc;
	-webkit-box-shadow: 0px 0px 5px 0px #ccc;
	-o-box-shadow: 0px 0px 5px 0px #ccc;
	box-shadow: 0px 0px 5px 0px #ccc;
	position:relative;
}
#inscription{
	float:right;
	background:#ffffff;
	padding:20px;
	width:440px;
	-moz-box-shadow: 0px 0px 5px 0px #ccc;
	-webkit-box-shadow: 0px 0px 5px 0px #ccc;
	-o-box-shadow: 0px 0px 5px 0px #ccc;
	box-shadow: 0px 0px 5px 0px #ccc;
	position:relative;
}
.shadowForm{
	width:100%;
	height:16px;
	position:absolute;
	bottom:-16px;
	left:0;
	background:url(../images/shadowForm.png) no-repeat center;
}
.shadowForm2{
	width:100%;
	height:16px;
	position:absolute;
	bottom:-16px;
	left:0;
	background:url(../images/shadowForm2.png) no-repeat center;
}
.form label{
	font:14px "museo_sans_cond500";
	display:block;
	float:left;
	height:30px;
	line-height:30px;
	width:133px;
	text-align:right;
	padding:0 10px 0 0;
	/*background:#ff0000;*/
	margin-bottom:10px;
}
.form label.error{
	width:285px;
	text-align:left;
	float:right;
	color:#ff0000;
}
label.error p{
	width:285px;
	color:#ff0000;
}
.inputTxt{
	border:solid 1px #ddd;
	background:#fefefe;
	height:30px; 
	float:right;
	width:275px;
	line-height:30px;
	text-indent:10px;
}
.annee
{
	border:solid 1px #ddd;
	background:#fefefe;
	width:140px;
	height:28px;
	float:right;
	line-height:30px;
	text-indent:10px;
}

.validdate
{
	width:72px!important;
	border:solid 1px #ddd;
	background:#fefefe;
	height:30px;
	outline:none;
	float:left!important;
}
.select{
	border:solid 1px #ddd;
	background:#fefefe;
	height:30px; 
	float:right;
	width:295px;
	line-height:30px;
	padding:5px;
}


/*à verifier , on ne peut pas parcourir**/
.customfile-upload {
    background: none repeat scroll 0 0 #000000;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font: 12px Arial,Helvetica,sans-serif;
    height: 30px;
    width: 100px;
}




.form #inscription .inputTxt{
	width:295px;
}
#connexion h3, #inscription h3, #annonceur h3{
	font:18px "museo_sans_cond500";
	color:#ff5223;
	display:block;
	padding:5px;
	margin-bottom:20px;
	border-bottom:dotted 1px #ccc;
	background:url(../images/arrow.png) 0 3px no-repeat;
	text-indent:30px;
}
.btn{
	font:14px "museo_sans_cond500";
	display:block;
	float:left;
	width:150px;
	border:0;
	background:#000;
	height:30px;
	color:#fff;
	cursor:pointer;
}
.btn:hover{
	background:#80b533;
}
.title{
	font:18px "museo_sans_cond500";
	padding:0 0 20px 0;
	text-indent:10px;
	display:block;
}
.title span{
	font-family:Arial, Helvetica, sans-serif;
}
/*alert box*/
.alert-box {
	color:#555;
	font:11px Arial, Helvetica, sans-serif;
	padding:10px 36px;
	margin:10px 0;
}
.alert-box span {
	font-weight:bold;
	text-transform:uppercase;
}
.errorMsg {
	background:#ffecec url('../images/error.png') no-repeat 10px 50%;
	border:1px solid #f5aca6;
}
.successMsg {
	background:#e9ffd9 url('../images/success.png') no-repeat 10px 50%;
	border:1px solid #a6ca8a;
}
.warningMsg {
	background:#fff8c4 url('../images/warning.png') no-repeat 10px 50%;
	border:1px solid #f2c779;
}
.noticeMsg {
	background:#e3f7fc url('../images/notice.png') no-repeat 10px 50%;
	border:1px solid #8ed9f6;
}
#annonceur{
	background:#ffffff;
	padding:20px;
	width:920px;
	-moz-box-shadow: 0px 0px 5px 0px #ccc;
	-webkit-box-shadow: 0px 0px 5px 0px #ccc;
	-o-box-shadow: 0px 0px 5px 0px #ccc;
	box-shadow: 0px 0px 5px 0px #ccc;
	position:relative;
	
}
.annonceform .title{
}
#annonceur label{
	font:14px "museo_sans_cond500";
	display:block;
	float:none;
	height:auto;
	line-height:auto;
	width:auto;
	text-align:left;
	padding:0 10px 0 0;
	/*background:#ff0000;*/
	margin-top:10px;
	margin-bottom:5px;
}
#annonceur .inputTxt{
	border:solid 1px #ddd;
	background:#fefefe;
	height:30px; 
	float:none;
	width:292px;
	line-height:30px;
	text-indent:10px;
}
#annonceur .textarea{
	border:solid 1px #ddd;
	background:#fefefe;
	height:196px; 
	float:none;
	width:588px;
	resize:none;
	font:12px Arial, Helvetica, sans-serif;
	color:#333;
	padding:10px;
}
#annonceur .select{
	border:solid 1px #ddd;
	background:#fefefe;
	height:30px; 
	float:none;
	width:295px;
	line-height:30px;
	padding:5px;
}
.annonceLeft{
	width:300px;
	float:left;
}
.annonceRight{
	width:610px;
	float:right;
}
.customfile-filename{
	border:solid 1px #ddd;
	height:28px;
	line-height:28px;
	/*width:190px;*/
	width:195px;
}
.customfile-upload{
	border:none;
	color:#fff;
	background:#000;
	height:30px;
	width:100px;
	font:14px/29px "museo_sans_cond500";
	cursor:pointer;
}
/* foooter */
#footer{
	background:#000000;
	color:#939393;
	font:12px Arial, Helvetica, sans-serif;
}
#footer .footerLink{
	color:#939393;
	float:left;
	padding:20px 0;
}
#footer .footerLink a{
	color:#939393;
	font:12px Arial, Helvetica, sans-serif;
	display:block; 
	float:left;
}
#footer .footerLink span{
	float:left;
	padding:0 10px;
}
.copyright{
	float:right;
	padding:20px 0;
}
.line{
	border-bottom:solid 1px #2a2a2a;
}
#footer .infos{
	padding:10px 0;
}
#footer .infos p{
	padding:10px 0;
}
.content{
	width:960px;
	margin:auto;
}
.clear{
	clear:both;
}


/**************sign in*/
#signin_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
    background-color:#fefefe;
    position:absolute;
    width:210px;
    z-index:999999;
    border:1px transparent;
    text-align:left;
    padding:12px;
    top: 44.5px;
    left: 0px;
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font:14px "museo_sans_cond500";
	-moz-box-shadow: 0px 3px 3px 0px #ccc;
	-webkit-box-shadow: 0px 3px 3px 0px #ccc;
	-o-box-shadow: 0px 3px 3px 0px #ccc;
	box-shadow: 0px 3px 3px0px #ccc;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #80b533;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
#header #resend_password_link,.forgot-username a{
	height:auto!important;
}
#signin_menu p {
    margin:0;
}
#signin_menu a {
    color:#80b533;
}
#signin_menu label {
    font-weight:normal;
}
#signin_menu p.remember {
    padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
    clear:both;
    margin:5px 0;
}
#signin_menu p a {
    color:#80b533!important;
}
#signin_submit {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#80b533;
    border:1px solid #80b533;
    color:#fff;
    text-shadow:0 -1px 0 #80b533;
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
    background-position:0 -5px;
    cursor:pointer;
}
#close{
	width:15px;
	height:15px;
	background:url(../images/close.png);
	position:absolute;
	right:10px;
	bottom:10px;
	display:block;
}
.preloader{
	background:url(../images/preloader.GIF) no-repeat center;
	height:50px;
}
.beforeSend{
	display:block;
	text-align:center;
	font:18px "museo_sans_cond500";
	padding:10px 0 0 0;
	color:#FF5223;
}
#preloadMail, #preloadPseudo{
	height:15px;
	padding-bottom:5px;
	background:url(../images/ajaxpreloader.gif) no-repeat 425px -1px ;
	display:none;
}

/*listing*/
table.listes{
	border-collapse:collapse;
	width:100%;
	border:solid 1px #cccccc;
}
table.listes tr.head td{
	background:#d7d7d7 url(../images/bg_tableList.png) repeat-x;
}
table.listes tr td{
	padding:5px;
	background:#f3f3f3;
	border:solid 1px #cccccc;
}
table.listes tr td a{
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#333;
	text-decoration:none;
}
table.listes tr td a:hover{
	color:#000;
}
table.listes tr.gris td{
	background:#e3e3e3;
}
table.listes tr td ul li{
	display:inline-block;
	*display:inline;
}
table.listes tr td ul li img{
	height:50px;
	border:solid 5px #ccc;
}

.btn{
	font:13px Arial, Helvetica, sans-serif;
	display:block;
	float:left;
	width:150px;
	border:0;
	background:#000;
	height:30px;
	color:#fff;
	cursor:pointer;
}
a.btn{
	line-height:30px;
	text-align:center;
	text-decoration:none;
}
.btn:hover{
	background:#80b533;
}
hr.line{
	border:none;
	height:1px;
	border-bottom:dashed 1px #ccc;
	margin:15px 0;
}
.breadcrumbs{
	padding:5px;
	background:#eee;
	font:12px Arial, Helvetica, sans-serif;
	margin:20px 0 0 0
}
.breadcrumbs a{
	font:bold 12px Arial, Helvetica, sans-serif; 
	color:#000;
	text-decoration:none;
}
.tabsAnnonce{
	margin:20px 0 0 0;
}
.tabsAnnonce li{
	display:block;
	float:left;
	margin:0 2px;
}
.tabsAnnonce li a{
	padding:10px;
	display:block;
	background:#ccc;
	font:13px "museo_sans_cond500";
	color:#555;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.tabsAnnonce li a.active{
	color:#fff;
	background:#000;
}

.formContent h3{
	display:block;
	padding:10px 0;
	font:16px Arial, Helvetica, sans-serif;
	border-bottom:dashed 1px #ccc;
}
.formContent div.formBox{
	width:450px;
	float:left;
	/*height:30px;*/
	overflow:hidden;
	margin-bottom:5px;
}
.formContent div.formBox label{
	font:13px/30px Arial, Helvetica, sans-serif;
	display:block;
	float:left;
	width:180px;
	padding:0 10px;
}
.formContent div.formBox label.error{
	color:#ff0000;
	text-align:right;
	float:left;
	width:450px;
}
.formContent div.formBox .inputText{
	height:28px;
	width:238px;
	padding:0 5px;
	float:left;
	border:none;
	border:solid 1px #ddd;
}
.formContent div.formBox .select{
	width:250px;
}

.formContent div.formBox .inputText.error
,.formContent div.formBox .select.error{
	background:#ffc6c6;
}
.formContent div.formBox .customfile-filename{
	width:148px;
}
.pagination{
	padding:0;
	float:left;
}
.pagination span{
	background:#d7d7d7;
	float:left;
	margin-right:5px;
	padding:5px 10px;
	border:solid 1px #cccccc;
}
.pagination a{
	background:#f3f3f3;
	float:left;
	margin-right:5px;
	padding:5px 10px;
	border:solid 1px #cccccc;
	text-decoration:none;
	color:#333;
}
/***recherche*/
.recherche{
	padding:10px;
	background:#fff;
	height:265px;
}
.recherche h3{
	font:18px "museo_sans_cond500";
	color:#ff5223;
	display:block;
	border-bottom: dashed 1px #999!important;
	margin-bottom:10px;
	padding:10px;
}
.recherche .select{
	width:268px;
	float:none;
}
.recherche .inputTxt{
	width:266px;
	float:none;
}
.recherche label{
	padding:5px 0;
	float:none;
	display:block;
}
.recherche .btn{
	margin-top:10px;
}
/*detail*/
.imageDet{
	width:350px;
	padding:10px;
	background:#fefefe;
	border:solid 1px #ccc;
	float:left;
}
.descDet{
	float:right;
	width:575px;
}
.descDet table tr td{
	padding:10px;
}